* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.subcategory {
    margin-top: 40px;
}

ul {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

ul>li {
    width: 30%;
    margin: 5px;

    text-align: center;
}

.showmore a {
    position: relative;
}

.showmore {
    width: 140px;
    margin: 30px auto;
    padding: 4px;

    border: 1px solid #ddd;
}

.showmore span {
    display: block;

    text-align: center;
}

.showmore span:before {
    position: relative;
    top: 8px;

    display: inline-block;

    margin-right: 10px;

    content: '';

    border: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
}

.promoted i,
.promoted a {
    color: red;
}